* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: orange;
    color: #212121;
}

.title {
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
}

.gameArea {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    display: grid;
    border: 1px solid white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px 0;
}

.tile {
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.xo {
    color: rgb(247, 52, 52);
}

.tile .ox {
    color: #6c17ed;
}

.tile:hover {
    border: 1px solid #333;
}

#reset {
    font-size: 22px;
    background: rgb(241, 59, 59);
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    width: 100px;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
}

.hide {
    display: none;
}
